{
  "extends": "@antfu",
  "rules": {
    "no-console": "off",
    "semi": [
      "error",
      "never"
    ],
    "vue/html-self-closing": [
      "error",
      {
        "html": {
          "void": "any",
          "normal": "always",
          "component": "always"
        }
      }
    ],
  }
}
